.mediumTop {
    width: 100%; 
}
  
.mediumTopShow {
    display: -webkit-flex; /* Safari */
    -webkit-justify-content: flex-start; /* Safari 6.1+ */
    display: flex;
    justify-content: flex-start;
}

.mediumTopHide {
    display: none;
}