* {
  box-sizing: border-box;
}

body {
  color: #333;
  background-color: #ebebeb;
  font-family: Arial,Microsoft JhengHei;
}

.mainWrapper {
  width: 80%;
  padding: 1.25rem;
  margin: 0 auto;
  margin-top: 1.25rem;
  background-color: white;
  max-width: 1170px;
  display: -webkit-flex; /* Safari */
  -webkit-justify-content: flex-start; /* Safari 6.1+ */
  display: flex;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap; /* Safari 6.1+ */
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .mainWrapper {
    width: calc(100% - 20px);
  } 
}

main {
  width: 70%;
}

a {
  color: inherit;
  text-decoration: none;
}