.productListWrapper {
    width: 70%;
}

@media (max-width: 768px) {
    .productListWrapper {
        width: 100%;
    } 
}

.listWrapper {
    width: 100%;
    box-sizing: border-box;
    display: -webkit-flex; /* Safari */
    -webkit-justify-content: space-between; /* Safari 6.1+ */
    display: flex;
    justify-content: space-between;
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    flex-wrap: wrap;
    -webkit-align-items: flex-start; /* Safari 7.0+ */
    align-items: flex-start;
}

@media (max-width: 768px) {
    .listWrapper {
        width: 100%;
    } 
}

.noMatchItem {
    margin: 0 auto;
    font-size: 1.25rem;
    font-weight: 500;
}

/*pagination*/

.pageWrapper {
    margin-top: 0.625rem;
}