.sectionListWrapper {
    width: 100%;
    padding: 1.25rem;
    background-color: white;
}

.sectionTitle {
    width: 100%;
    font-weight: bold;
    font-size: 1.25rem;
    margin-bottom: 0.625rem;
}

.itemWrapper {
    width: 100%;
    box-sizing: border-box;
    display: -webkit-flex; /* Safari */
    -webkit-justify-content: space-between; /* Safari 6.1+ */
    display: flex;
    justify-content: space-between;
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    flex-wrap: wrap;
    -webkit-align-items: flex-start; /* Safari 7.0+ */
    align-items: flex-start;
}

.sectionItem {
    width: calc(25% - 1.25rem);
}

.sectionItem img {
    width: 100%;
}