.pageWrapper {
    width: 100%;
    display: -webkit-flex; /* Safari */
    -webkit-justify-content: flex-start; /* Safari 6.1+ */
    display: flex;
    justify-content: flex-start;
    -webkit-align-items: center; /* Safari 7.0+ */
    align-items: center;
}

.pageItem {
    width: 2rem;
    height: 2rem;
    font-size: 1.125rem;
    text-align: center;
    line-height: 2rem;
    color: #ffa45c;
    background-color: #000;
    border-radius: 50%;
    margin: 0 0.15625rem;
}

.pageItem svg {
    font-size: 1.5em;
    margin-top: 0.1875rem;
}

.pageItem svg[data-icon='caret-left'] {
    margin-right: 0.3125rem;
}

.pageItem svg[data-icon='caret-right'] {  
    margin-left: 0.3125rem;
}