header {
    width: 100%;
    color: white;
    background-color: #232323;
    box-sizing: border-box;     
}

header > div {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto; 
    display: -webkit-flex; /* Safari */
    -webkit-justify-content: space-between; /* Safari 6.1+ */
    display: flex;
    justify-content: space-between;
    -webkit-align-items: center; /* Safari 7.0+ */
    align-items: center; 
}

.logo {
    font-size: 1.875rem;
    font-weight: 700;
}

